# Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-*
.pub-cache/
*.lock
*.log
*.tmp

# Build outputs
build/

# Android
android/.gradle/
android/app/build/
*.keystore
*.iml

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Desktop platforms (excluded)
linux/
macos/
windows/

# IDEs
.idea/
.vscode/
*.swp

# Misc
.DS_Store