# Flutter
.dart_tool/
.packages
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.flutter-*
*.lock

# Android
android/.gradle/
android/app/build/
*.iml
*.keystore

# IntelliJ/VS Code
.idea/
.vscode/
*.swp

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/build/

# MacOS
macos/Pods/
macos/Flutter/Flutter.podspec
macos/Flutter/ephemeral/
macos/build/

# Web
web/.dart_tool/
web/build/

# Windows
windows/Flutter/ephemeral/
windows/build/
windows/runner/Debug/
windows/runner/Release/
windows/runner/*.vcxproj.user

# Linux
linux/Flutter/ephemeral/
linux/build/

# Misc
*.log
*.tmp
.DS_Store

build/
.dart_tool/
.packages
.idea/
*.iml